<div class=".col-12">
  <!-- Breadcrumbs-->
  <br>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">My Stats</a>
    </li>
  </ol>
  <div class="row">
    <div class="col-lg-12">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i>Rider Stats
        </div>
        <div class="card-body">
          <div class="overflow-x:auto;">
            <table id="myTable">
              <tr>
                <td><b>Participated In</b></td>
                <td>{{result.participationcount}}&nbsp;events</td>
                <td><b>Max elevation</b></td>
                <td>{{result.maxelevation}}&nbsp;feet</td>
              </tr>
              <tr>
                <td><b>Total distance</b></td>
                <td>{{result.totaldistance}}&nbsp;miles</td>
                <td><b>Longest distance</b></td>
                <td>{{result.longestdistance}}&nbsp;miles</td>
              </tr>
              <tr>
                <td><b>Average Speed</b></td>
                <td>{{result.avgspeed | number:'1.1-2'}}&nbsp;mph</td>
                <td><b>Maximum Speed</b></td>
                <td>{{result.maxspeed | number: '1.1-2'}}&nbsp;mph</td>
              </tr>
              <tr>
                <td><b>Total Moving time</b></td>
                <td>{{result.totalmovingtime / 60000 | number: '1.1-2'}}&nbsp;minutes</td>
                <td><b>Longest event duration</b></td>
                <td>{{result.longestmovingtime / 60000 | number: '1.1-2'}}&nbsp;minutes</td>
              </tr>

            </table>
          </div>
        </div>

      </div>

      <!-- /Card Columns-->
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <!-- Example Pie Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Speed Stats
        </div>
        <div class="card-body">
          <canvas id="speedchart" width="100%" height="100%">{{speedchart}}</canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Example Pie Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i>Distance Stats
        </div>
        <div class="card-body">
          <canvas id="distchart" width="100%" height="100%">{{distchart}}</canvas>
        </div>

      </div>
    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-lg-12">-->
  <!--&lt;!&ndash; Example Pie Chart Card&ndash;&gt;-->
  <!--<div class="card mb-3">-->
  <!--<div class="card-header">-->
  <!--<i class="fa fa-pie-chart"></i> Speed Stats-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--<canvas id="altchart" width="100%" height="100">{{altchart}}</canvas>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>

<br>
<br>
<br>
