<div id="{{elementId}}" #modalContainer class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;align-self: center; color: darkslategrey;">{{title}}</h4>
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
    </div>
      <div class="modal-body" (click)="closeModal()">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
