<div class="settings-page">


  <!--<h1 class="text-xs-center">Your Settings</h1>-->

  <!--<app-list-errors [errors]="errors"></app-list-errors>-->

  <form class="form-group" [formGroup]="details" (ngSubmit)="submitForm()">
    <fieldset>

      <div class="container">

        <div class="column">
          <div class="row">
            <input class="form-control col-sm-4"
                   src = "https://pickaface.net/assets/images/slides/slide4.png"
                   type="image"
                   placeholder="URL of profile picture"
                   formControlName="image" />
          </div>
        </div>

        <div class="column">
          <div class="row">

            <div class = "col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="text"
                       placeholder="First Name"
                       [(ngModel)] = "fname"
                       formControlName="firstname" />
              </fieldset>
            </div>


            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="text"
                       placeholder="Last Name"
                       [(ngModel)] = "lname"
                       formControlName="lastname" />
              </fieldset>
            </div>

          </div>

          <div class="row">

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="number"
                       placeholder="Height"
                       [(ngModel)] = "height"
                       formControlName="height" />
              </fieldset>
            </div>

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="number"
                       placeholder="Weight"
                       [(ngModel)] = "weight"
                       formControlName="weight" />
              </fieldset>
            </div>

          </div>


          <div class="row">

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="text"
                       placeholder="Phone Number"
                       [(ngModel)] = "phonenumber"
                       formControlName="phonenumber"
                />
              </fieldset>
            </div>

            <div>
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       type="email"
                       placeholder="Email"
                       [(ngModel)] = "email"
                       formControlName="email" />
              </fieldset>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="Address"
                       [(ngModel)] = "address"
                       formControlName="address"/>
              </fieldset>
            </div>

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="Address 2"
                       [(ngModel)] = "address2"
                       formControlName="address2"/>
              </fieldset>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="city"
                       [(ngModel)] = "city"
                       formControlName="city"/>
              </fieldset>
            </div>

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="state"
                       [(ngModel)] = "state"
                       formControlName="state"/>
              </fieldset>
            </div>

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="Zipcode"
                       [(ngModel)] = "zipcode"
                       formControlName="zipcode"/>
              </fieldset>
            </div>
          </div>


          <div>
            <fieldset class="form-group">
              <textarea class="form-control form-control-lg"
                        rows="3"
                        placeholder="Short bio about you"
                        formControlName="bio">
              </textarea>
            </fieldset>
          </div>


          <div class="row">

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       [(ngModel)] = "password"
                       type="password"
                       placeholder="New Password"
                       formControlName="password" />
              </fieldset>
            </div>

            <div class="col">
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                       [(ngModel)] = "passwordconf"
                       type="password"
                       placeholder="Confirm Password"
                       formControlName="passwordconf"
                />
              </fieldset>
            </div>
          </div>

          <div class="row">


            <button class="btn btn-lg btn-primary pull-xs-right"
                    type="submit">
              Update Settings
            </button>
          </div>

        </div>
      </div>

    </fieldset>
  </form>

  <p>Form value: {{ details.value | json }}</p>
  <p>Form status: {{ details.status | json }}</p>


  <!-- Line break for logout button -->
  <hr>
  <button class="btn btn-outline-danger"
          (click)="enableEdit()">
    {{this.details.disabled? "Edit Detail" : "Lock Details"}}
  </button>
</div>
