<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <form action="send" method="post">
        Enter email: <input name="email" type="email">
        <br><br>
        <input name="submit" value="Click" type="submit">
      </form>
    </div>
  </body>
</html>
