<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
  
    <meta name="description" content="">

    <title>RiderTrack - Events</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <!-- <link href="../css/4-col-portfolio.css" rel="stylesheet"> -->
	<head lang="en">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<meta name="description" content="RiderTrack Events Page" />	    
	<meta name="keywords" content="RiderTrack ">

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
  <link rel="stylesheet" href="../css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../css/style.css">	
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="../angularJS/events.js"></script>
  </head>

  <body>
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">FEATURES</span></a></li>
					<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="" title="Next Section"><span class="icon icon-user"></span> <span class="text">LOGIN / SIGN UP</span></a></li>
					<li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="" title="Next Section"><span class="icon icon-gears"></span> <span class="text">PROCESS & APIs</span></a></li>
					<li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="" title="Next Section"><span class="icon icon-heart"></span> <span class="text">EVENTS</span></a></li>
					<li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	

	
</body>

	<!-- SCRIPTS -->
	<script src="../js/html5shiv.js"></script>
	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="../js/script.js"></script>
	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	
	});
	</script>

    <!-- Page Content -->
    <div class="container">
	
	
      <!-- Page Heading -->
	  <br>
	  <br>
	  <center>
      <h1 class="my-4"><font color="white">EVENTS</h1>
	  	<form action="">
  <input type="radio" name="Events" value="Upcoming Events"> Upcoming Events  &emsp;&emsp;     
  <input type="radio" name="Events" value="Past Events"> Past Events<br></center>
</font>
</form>
<br>
      <div class="row">
        <div ng-app="events" ng-controller="events">
          <table cellpadding="10">
            <tr ng-repeat="event in events" ng-switch on="$index % 4">
              <td ng-switch-when="0">
                <span ng-show="events[$index]">
                  <div class="card h-100">
                <p><img class="card-img-top" ng-src ="{{events[$index].image}}" height="300" width="240"></p>
                <h4 class="card-title"><a href="#">{{events[$index].name}}</a></h4>
                <!-- <p>{{events[$index].name}}</p></h4> -->
                <p class="card-text">{{events[$index].description}}</p>
              </div>
              </span>
              </td> 
              <td ng-switch-when="0">
                
                <span ng-show="events[$index+1]">
                  <div class="card h-100">
                  <p><img class="card-img-top" ng-src ="{{events[$index+1].image}}" height="300" width="240"></p>
                  <h4 class="card-title"><a href="#">{{events[$index+1].name}}</a></h4>
                  <!-- <p>{{events[$index+1].name}}</p> -->
                  <p class="card-text">{{events[$index+1].description}}</p>
                </div>
                </span>
              </td>
              <td ng-switch-when="0">
                
                <span ng-show="events[$index+2]">    
                  <div class="card h-100">
                  <p><img class="card-img-top" ng-src ="{{events[$index+2].image}}" height="300" width="240"></p>
                  <h4 class="card-title"><a href="#">{{events[$index+2].name}}</a></h4>
                  <!-- <p>{{events[$index+2].name}}</p> -->
                  <p class="card-text">{{events[$index+2].description}}</p>
                </div>
                </span>
              </td>
              <td ng-switch-when="0">
                
                <span ng-show="events[$index+3]">
                  <div class="card h-100">
                  <p><img class="card-img-top" ng-src ="{{events[$index+3].image}}" height="300" width="240"></p>
                  <h4 class="card-title"><a href="#">{{events[$index+3].name}}</a></h4>
                  <!-- <p>{{events[$index+3].name}}</p> -->
                  <p class="card-text">{{events[$index+3].description}}</p>
                  </div>
                </span>
              
              </td>
            </tr>
          </table>
        </div>
       <!--  <center>
        <div ng-app="events" ng-controller="events">
          
          <table cellspacing="30">
            <tr ng-repeat="event in events" ng-switch on="$index % 4">
              <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                  <td ng-switch-when="0">
                    
                    <span ng-show="events[$index]">
                      <div class="card h-100">
                    <img class="card-img-top" ng-src ="{{events[$index].image}}" height="300" width="240">
                    <h4 class="card-title"><a href="#">{{events[$index].name}}</a></h4>
                    <p class="card-text">{{events[$index].description}}</p>
                    </div>
                    </span>
                  
                  </td>
                  <td ng-switch-when="0">
                    
                    <span ng-show="events[$index+1]">
                      <div class="card h-100">
                    <img class="card-img-top" ng-src ="{{events[$index+1].image}}" height="300" width="240">
                    <h4 class="card-title"><a href="#">{{events[$index+1].name}}</a></h4>
                    <p class="card-text">{{events[$index+1].description}}</p>
                    </div>
                  </span>
                
                  </td>
                  <td ng-switch-when="0">
                    
                    <span ng-show="events[$index+2]">
                      <div class="card h-100">
                    <img class="card-img-top" ng-src ="{{events[$index+2].image}}" height="300" width="240">
                    <h4 class="card-title"><a href="#">{{events[$index+2].name}}</a></h4>
                    <p class="card-text">{{events[$index+2].description}}</p>
                    </div>
                  </span>
                
                  </td>
                  <td ng-switch-when="0">
                   
                    <span ng-show="events[$index+3]">
                       <div class="card h-100">
                    <img class="card-img-top" ng-src ="{{events[$index+3].image}}" height="300" width="240">
                    <h4 class="card-title"><a href="#">{{events[$index+3].name}}</a></h4>
                    <p class="card-text">{{events[$index+3].description}}</p>
                  </div>
                  </span>
                
                  </td>
              </div>
            </tr>
          </table>    
          
        </div>
        </center>   -->


        <!-- <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event one: ASU Tempe Trekking</a>
              </h4>
              <p class="card-text">Arizona State University at Tempe Trekking - December 21 2017 at the A-Mountain 3:00 PM to 6:00 PM </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Two: San Jose Marathon</a>
              </h4>
              <p class="card-text">San Jose Downtown Marathon on January 12 2018 starts 09:00 AM from 4th Street</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Three: Lake Pleasant Rowing</a>
              </h4>Lake Pleasant in Peoria Arizona Rowing Event - February 16 2018 Begins 7AM till 11AM</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Four: AZ Marathon 2018</a>
              </h4>
              <p class="card-text">AZ Marathon 2018 in Phoenix 12 July 2018 starts 8:00 AM till 1:00PM</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Five</a>
              </h4>
              <p class="card-text">Event Five Description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Six</a>
              </h4>
              <p class="card-text">Event Six Description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Seven</a>
              </h4>
              <p class="card-text">Event Seven Description</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Event Eight</a>
              </h4>
              <p class="card-text">Event Eight Dsescription</p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /.row -->

      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-center">
	  
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul> -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RiderTrack 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
