<!doctype html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<<<<<<< HEAD

  <title>RiderTrack - Accurate and Reliable Rider Tracking</title>
  <meta name="description" content="RiderTrack landing page" />
  <meta name="keywords" content="RiderTrack ">

  <link rel="stylesheet" type="text/css" href="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.39/jquery.fancybox.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

=======

  <title>RiderTrack - Accurate and Reliable Rider Tracking</title>
  <meta name="description" content="RiderTrack landing page" />
  <meta name="keywords" content="RiderTrack ">

  <link rel="stylesheet" type="text/css" href="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.39/jquery.fancybox.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet">
>>>>>>> caching

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" data-activeslide="1">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
      </button>
      </div>
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li data-slide="1"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
          <li data-slide="2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">FEATURES</span></a></li>
          <li data-slide="3"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-heart"></span> <span class="text">EVENTS</span></a></li>
          <li data-slide="4"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-desktop"></span> <span class="text">PROCESS & APIs</span></a></li>
          <li data-slide="5"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
          <li data-slide="6"><a href=""><span class="glyphicon glyphicon-log-in"></span><span class="text">&nbsp;LOGIN/SIGNUP</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
<<<<<<< HEAD

=======
>>>>>>> caching

	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up"></div>
		<div id="arrow-down"></div>
	</div><!-- /.arrows -->

  <!-- === MAIN Background === -->
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-semibold">RIDERTRACK</h1>
          </br>
          <div class="row line-row">
            <div class="hr">&nbsp;</div>
          </div>
          </br>
          <h4 class="font-thin">Accurate and reliable <span class="font-semibold">Rider Tracking</span> that supports numerous wearable devices.</h4>
          <br><br>
        </div>
      </div>
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="images/s02.png"></div><span>PROFESSIONAL AND RELIABLE</span></div>
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="images/s01.png"></div><span>FRIENDLY</span></div>
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="images/s03.png"></div><span>SUPPORTS MANY WEARABLES</span></div>
      </div>
    </div>
  </div>

  <!-- === Slide 2 === -->
  <div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">Track <span class="font-semibold">Riders</span> and monitor <span class="font-semibold">Events</span.</div>
    <div class="row subtitle-row">
    <div class="row line-row">
      <div class="hr">&nbsp;</div>
    </div>
    </div>
      <div class="col-12 font-thin">This is what <span class="font-semibold">we do</span></div>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-12 col-lg-3 col-sm-6">
          <div><i class="icon icon-eye-open"></i></div>
        <h2 class="font-thin">Live <span class="font-semibold">Tracking</span></h2>
        <h4 class="font-thin">RiderTrack provides live tracking of the riders on the events.</h4>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-laptop"></i></p>
        <h2 class="font-thin">Web <span class="font-semibold">Design</span></h2>
        <h4 class="font-thin">RiderTrack provides responsive web application for spectator and rider access.</h4>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-tablet"></i></p>
        <h2 class="font-thin">Mobile <span class="font-semibold">Apps</span></h2>
        <h4 class="font-thin">RiderTrack provides Mobile application for rider access.</h4>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-pencil"></i></p>
        <h2 class="font-semibold">Development</h2>
        <h4 class="font-thin">RiderTrack uses best technologies in industry to provide accurate and reliable tracking.</h4>
      </div>
    </div>
  </div>
</div>

  <!-- === Slide 3 === -->
  <div class="slide story" id="slide-3" data-slide="3">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">Upcoming <span class="font-semibold"> EVENTS</span></div>
      </div>
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">ASU Tempe Trekking - December 21 2017 <br/><br/> San Jose Marathon - January 12 2018
          <br/><br/> Lake Pleasant Rowing - February 16 2018</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <div class="row content-row">
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2"><img src="" alt=""></div>
        <div class="col-12 col-sm-2"><img src="" alt=""></div>
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
      </div>
    </div>
  </div>


  <!-- === Slide 4 === -->
  <div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">How it <span class="font-semibold">works</span></div>
      </div>
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <div class="row content-row" <div class="col-12 font-semibold">RiderTrack's <a target="_blank">API Doc</a></div>
     <div class="row content-row" <div class="col-12 font-semibold"><a target="_blank">Info</a> about our app</div>
    </div>
    <div class="col-sm-1 hidden-sm">&nbsp;
    </div>
  </div>



  <!-- === Slide 5 / Contact === -->
  <div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
      </div>
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">You can find us literally anywhere, just push a button and we’re there</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
          <span class="hover-text font-light ">+1 1111111111</span></a>
        </div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
          <span class="hover-text font-light ">RiderTrack</span></a>
        </div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
          <span class="hover-text font-light ">Team RiderTrack<br></span></a>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
          <span class="hover-text font-light ">facebook/RiderTrack</span></a>
        </div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
          <span class="hover-text font-light ">@RiderTrack</span></a>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- SCRIPTS -->
<script src="js/html5shiv.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
<script src="js/script.js"></script>

<!-- fancybox init -->
<script>
  $(document).ready(function(e) {
    var lis = $('.nav > li');
    menu_focus(lis[0], 1);
    $(".fancybox").fancybox({
      padding: 10,
      helpers: {
        overlay: {
          locked: false
        }
      }
    });
  });
</script>

</html>
