<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>RiderTrack - LogIn</title>
    <meta name="description" content="RiderTrack login page" />
    <meta name="keywords" content="RiderTrack Login">
    <link rel="stylesheet" href="css/login.css">

</head>
<body background="images/bg1.jpg">

<div class="title">
    <h1>Sign In</h1>
</div>
<div class="container">
    <div class="right">
        <div class="formBox">
            <form action="/auth" method="post">
                <p>Username</p>
                <input type="user-name" name="" placeholder="Your email">
                <p>Password</p>
                <input type="password" name="" placeholder = "Your password">
                <input type="submit" name="" value = "Sign In">
                <a href="#">Forgot Password</a>

            </form>
        </div>
    </div>
</div>
</body>
</html>
