<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>RiderTrack - Profile</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" type="text/css" href="http:////maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.39/jquery.fancybox.min.css" type="text/css" media="screen">
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav bg-dark" id="page-top">
  <!-- Navigation-->
  <!--                                               -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myProfNavBar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
  </button>
        <a class="navbar-brand" href="#">RiderTrack</a>
      </div>
      <div class="collapse navbar-collapse" id="myProfNavBar">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="Prof-link-1" href="#"><span class="icon icon-user"></span><span class="text">My Profile</span></a></li>
          <li><a id="Prof-link-2" href="#"><span class="icon icon-laptop"></span><span class="text">My Dashboard</span></a></li>
          <li><a id="Prof-link-3" href="#"><span class="icon icon-lock"></span><span class="text">Manage Credentials</span></a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" id="Prof-link-4" href="#"><span class="icon icon-tablet"></span><span class="text">My Devices<span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Devices</a></li>
              <li><a href="#">Add Device</a></li>
              <li><a href="#">Remove Device</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-envelope">
  </span><span class="label label-success label-as-badge">12</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-bell">
</span><span class="label label-warning label-as-badge">5</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li>
            <form class="navbar-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
                </div>
              </div>
            </form>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="row">
      <div class="col-sm-4">
        <a href="#demo">
          <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" class="img-square person" alt="Random Name" width="200px" height="200px">
        </a>
      </div>
    </div>

  <fieldset class="content-wrapper">
    <fieldset disabled>
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <form class="col-5">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="name" class="form-control" id="exampleInputName" placeholder="BlahBlah">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="****">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Telephone</label>
            <input type="number" class="form-control" id="exampleInputPhone" placeholder="00000000000">
          </div>
          <div class="form-group">
            <label for="exampleInputAddress">Address</label>
            <input type="text" class="form-control" id="exampleInputAddress" placeholder="###############">
          </div>
          <div class="form-group">
            <label for="exampleInputAge">Age</label>
            <input type="number" class="form-control" id="exampleInputAge" placeholder="18">
          </div>
          <div class="form-group">
            <label for="exampleInputHeight">Height in cms</label>
            <input type="number" class="form-control" id="exampleInputHeight" placeholder="183">
          </div>
          <div class="form-group">
            <label for="exampleInputWeight">Weight in Kilograms</label>
            <input type="number" class="form-control" id="exampleInputWeight" placeholder="0">
          </div>
          <div class="form-group">
            <label for="exampleInputGender">Gender</label>
          </br>
            <select name="mydropdown">
              <option value="Male">Male</option>
              <option value="Femal">Female</option>
              <option value="N/A">N/A</option>
            </select>
          </div>
    </fieldset>
    </form>
    <div class="form-group row">
      <div>
        <button type="submit" class="btn btn-info">Edit</button>
      </div>
    </div>

    <fieldset disabled>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </fieldset>
    <br>
    <br>

</body>

</html>
