
  <h3 style="color: dimgrey; text-align: center" >
  Upcoming Events
  </h3>
  <br>
<div  *ngFor="let event1 of events" style="background-color: white">
  <div class="row">

    <div class="col-md-7">

          <img class="img-fluid rounded mb-3 mb-md-0" src="{{event1.image}}" style="width:480px;height:220px; margin-left: 200px; align-self: center">

    </div>
    <div class="col-md-5">
      <h3><a href="#">{{event1.name}}</a></h3>
      <p>{{event1.description}}</p>
      <p><strong>{{event1.date}}</strong></p>
      <a class="btn btn-primary" [routerLink]="['../detail',{eventName: event1.name, eventDescription: event1.description,
                                                             eventTime: event1.time, eventDate: event1.date, eventLocation: event1.location}]">View Event</a>
      <a class="btn btn-primary"  (click)="addRider(event1._id)">Register Event</a>
    </div>
  </div>
  <br style="margin: 6px">
</div>
<br>
  <br>
  <br>
