<div class="content p-4">
	<!--now we have access to play around with other div elements -> can add charts-->
	<div class="container">
		<h1 class="font-grey" style="text-align:center">EVENTS</h1>
		<br>

		<form action="" style="text-align:center">
			<input type="radio" name="Events" value="Upcoming Events" (click)="getUpcomingEvents()" checked="checked"><strong> Upcoming Events  </strong>&emsp;&emsp;
			<input type="radio" name="Events" value="Past Events" (click)="getPastEvents()"><strong>  Past Events
			</strong><br>
		</form>
		<br>
		<div *ngFor="let event of events">
      <div class="row eventsList">
					<app-event-thumbnail #event_thumbnail
                               [event]="event"
                               (click)="handleThumbnailClick(event.name)" ></app-event-thumbnail>
				</div>
			</div>
			<br>
		</div>
	</div>
<br>
<br>
<br>
