<!--flexbox based -> DIV -->
<div class="d-flex align-content-lg-stretch">
  <app-sidebar></app-sidebar>
  <!--TODO: Design dashboard page and include it in home container.-->
  <!--<app-dashboard routerLink="/home" routerLinkActive="active"  *ngIf="componentType == 'dashboard'"></app-dashboard>-->
  <!--<app-dashboard  (notify)="onNotify($event)" *ngIf="componentType == 'dashboard'" ></app-dashboard>-->
  <!--<app-events  (notify)="onNotify($event)" *ngIf="componentType == 'events'"></app-events>-->

  <router-outlet></router-outlet>
  <!--<app-dashboard routerLink="/home" *ngIf="componentType == 'dashboard'"></app-dashboard>-->
  <!--<app-events (notify) ="onNotify(true)" routerLink="/events" *ngIf="componentType == 'events'"></app-events>-->
</div>
