.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.cmp {
  padding: 6px;
  margin-left: 85px;
  width: 92%;
}
