<div class="container">
  <div class="container text-center card mb-3" style="background-color:darkslategrey; margin-left: 2px">
    <h1>{{eventName}}</h1><br/>
    <h4>{{eventDescription}}</h4><br/>
    <h5><i>Date: </i>{{eventDate | date: 'MMM dd yyyy'}}</h5>
    <h5><i>Time: </i>{{eventStartTime |date: 'hh:mm'}} - {{eventEndTime|date: 'hh:mm'}} UTC</h5>
    <h5><i>Location: </i>{{eventLocation}}</h5>
  </div>


  <div class="row">
    <div class="column left1">
      <div class="card mb-3" style="height:630px">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>Track Participants
          <!--<i class="fa fa-search"></i>-->
        </div>
        <div class="card-body">
          <form>
            <input [(ngModel)]="riderSearchTerm" type="text" name="riderSearchTerm" placeholder="Search..">
            <button class="btn btn-primary" name="searchBtn" (click)="searchRiders(riderSearchTerm)">search</button>
          </form>
          <br/>
          <ul>
            <!--<li *ngFor="let data of locationData$$"><a [routerLink]="['/riderTracking',eventId,data.riderId]">{{data.riderName}}</a></li>-->
            <!--<li *ngFor="let data of locationData$$"><a [routerLink]="['/riderTracking',eventId,data.riderid]">{{data.riderid}}</a></li>-->
            <li *ngFor="let data of foundRiders"><a [routerLink]="['/riderTracking',eventId,data.riderId]">{{data.riderUsername}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column right1">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Track Location
        </div>
        <div class="card-body">
          <div id="map" style="width:100%; height:500px; padding:0%">

          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at --:-- PM</div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
