<div class="auth-page">
  <div class="container page">
    <div class="banner" *showAuthed="false">
      <div class="container">
        <br>
        <h1 class="logo-font" style="text-align: center; color: darkslategrey" >RiderTrack</h1>
        <hr>
        <br><br><br><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>
        <!--<app-list-errors [errors]="errors"></app-list-errors>-->
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <em *ngIf="authForm.controls.username?.invalid && authForm.controls.username?.touched">Required</em>
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType == 'register'" />
            </fieldset>
            <fieldset class="form-group">
              <div *ngIf="authType == 'register'" >
                <input
                  formControlName="admin"
                  class="form-control form-check-input form-control-lg"
                  type="checkbox"
                  id="adminCheckbox"
                  value=""/>
                <label class="form-check-label" for="adminCheckbox" style="color:red;">make this user an administrator</label>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <em *ngIf="authForm.controls.email?.invalid  && authForm.controls.email?.touched">Required</em>
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <fieldset class="form-group">
              <em *ngIf="authForm.controls.password?.invalid  && authForm.controls.password?.touched ">Required</em>
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <fieldset>
              <a routerLink="/forgotpwd">forgot your password?</a>
            </fieldset>
            <br />
          <br />
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>
      <br>

    </div>
  </div>

</div>
