<div class=".col-12">
  <!-- Breadcrumbs-->
  <br>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">My Profile</a>
    </li>
  </ol>

  <div class="col-sm-12">


    <div class="col-sm-3" align="center">
      <div class="round">
        <img src="{{ currentUser.image }}"
             onError="this.src='../assets/Image/profile1.jpg';" alt="Person"
             style="width:100px;height:100px; align-self: center">
      </div>
    </div>
    <div class="col-sm-3">
      <h4><b>{{currentUser.username}}</b></h4>
      <a>{{currentUser.email}}</a>
      <br>
      <a class="btn btn-primary" routerLink="../profile">Edit Profile</a>
    </div>



  </div>

</div>
<br>
<br>
