
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">My Profile</a>
      </li>
    </ol>
    <div class="row">
      <div class="col-sm-12">
        <div class="container">
          <div class="card" style="width:50%">
            <img src="/assets/profile1.jpg" alt="Person" style="width:100%">
            <div class="container">
              <h4><b>Rider 1</b></h4>
              <a>rider@gmail.com</a>
            </div>
          </div>
          <br>
          <a href="#" class="btn btn-primary">Edit Profile</a>
          <br>
        </div>
      </div>
    </div>
  </div>

