<!--homepage - with the slideshow-->
<div class="homepage">
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-semibold">RIDER<span class="font-thin">TRACK</span></h1>
          <div class="row line-row">
            <div class="hr"></div>
          </div>
          <h4 class="font-thin">Accurate and reliable <span class="font-semibold">Rider Tracking</span> that supports numerous wearable devices.</h4>
        </div>
      </div>
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="https://athlete-tracker-preprod.herokuapp.com/images/s02.png"></div><span>PROFESSIONAL AND RELIABLE</span></div>
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="https://athlete-tracker-preprod.herokuapp.com/images/s01.png"></div><span>FRIENDLY</span></div>
        <div class="col-12 col-sm-4">
          <div class="home-hover navigation-slide"><img src="https://athlete-tracker-preprod.herokuapp.com/images/s03.png"></div><span>SUPPORTS MANY WEARABLES</span></div>
      </div>
    </div>
  </div>
</div>
