<div class=".col-12">
  <!-- Breadcrumbs-->
  <br>

  <br>
  <br>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Recent Activities</a>
    </li>
  </ol>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>Latest Activity
    </div>
    <div class="card-body">
      <div class="row">
        <!--<div class="col-md-8">-->
        <!--<div id="map1"></div>-->
        <img src="../assets/Image/track.jpeg" height="100%" width="100%"/>
        <!--</div>-->
      </div>
      <br/>
      <div class="row">
        <table id="dataTable1">
          <tr>
            <th>Event Date</th>
            <th>Moving Time</th>
            <th>Event Location</th>
            <th>Event Name</th>
            <th>Distance Covered</th>
          </tr>
          <tbody>
          <tr>
            <td>{{eventdate |  date : "MMM dd yyyy"}}</td>
            <td>{{elapsedtime / 60000 |  number: '1.1-2'}}&nbsp;minutes</td>
            <td>{{eventlocation}}</td>
            <td>{{eventname}}</td>
            <td>{{totaldistance}}&nbsp;miles</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
