<div class=".col-12" style="width: 100%">
  <!-- Breadcrumbs-->
  <br>
  <div class="card mb-3" style="width: 100%;">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>Latest Activity
    </div>
    <div class="card-body">
      <div class="row">
        <h4>{{eventname}}</h4>
      </div>
      <!--<div class="row" style="width: 100%">-->
        <!--<div id="map1"></div>-->
      <!--</div>-->
      <div class="col-md-12">
        <div id="map1"></div>
      </div>
      <br/>
      <div class="row">
        <table id="dataTable1">
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Moving Time (Mins)</th>
            <th>Avg Speed (MPH)</th>
            <th>Elevation (Feet)</th>
            <th>Distance (Miles)</th>
          </tr>
          <tbody>
          <tr>
            <td>{{eventdate |  date : "MMM dd yyyy"}}</td>
            <td>{{eventlocation}}</td>
            <td>{{elapsedtime / 60000 |  number: '1.1-2'}}</td>
            <td>{{avgspeed | number: '1.1-2'}}</td>
            <td>{{altitdue | number: '1.1-2'}}</td>
            <td>{{totaldistance | number: '1.1-2'}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <br/>
  </div>
</div>


