<div class=".col-12" style="width: 100%">
  <!-- Breadcrumbs-->
  <br>

  <br>
  <br>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Recent Activities</a>
    </li>
  </ol>
  <div class="card mb-3" style="width: 100%;">
    <div class="card-header">
      <i class="fa fa-area-chart"></i>Latest Activity
    </div>
    <div class="card-body">
      <div class="row">
        <h4>{{eventname}}&nbsp;&nbsp;{{eventlocation}}</h4>
      </div>
      <div class="row">
        <div id="map1" style="height:100%;width: 100%"></div>
        <!--<img src="../assets/Image/track.jpeg" height="100%" width="100%"/>-->
      </div>
      <br/>
      <div class="row">
        <table id="dataTable1">
          <tr>
            <th>Date</th>
            <th>Moving Time (Mins)</th>
            <th>Avg Speed (MPH)</th>
            <th>Elevation (Feet)</th>
            <th>Distance (Miles)</th>
          </tr>
          <tbody>
          <tr>
            <td>{{eventdate |  date : "MMM dd yyyy"}}</td>
            <td>{{elapsedtime / 60000 |  number: '1.1-2'}}</td>
            <td>{{avgspeed}}</td>
            <td>{{altitdue}}</td>
            <td>{{totaldistance}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <br/>
  </div>
</div>


