<div class="auth-page">
  <div class="container page">
    <div class="banner" *showAuthed="false">
      <div class="container">

        <br>
        <h1 class="logo-font" style="text-align: center; color: darkslategrey" >Forgot Password?</h1>
        <hr>
        <br><br><br><br><br>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h2 class="text-xs-center">Enter Email to Reset Password</h2>


        <p class="text-xs-center">
        </p>
        <!--<app-list-errors [errors]="errors"></app-list-errors>-->
        <form [formGroup]="forgotPwdForm" (ngSubmit)="submitForm()">
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!forgotPwdForm.valid" type="submit">
              Retrive password
            </button>
        </form>
      </div>

    </div>
  </div>
</div>
