<div class="d-flex align-items-stretch">
  <div class="sidebar bg-dark">
    <ul class="list-unstyled">
      <li><a href="#"><i class="fa fa-fw fa-link"></i>Dashboard</a></li>
      <li><a href="#"><i class="fa fa-fw fa-link"></i>Create Event</a></li>
      <li>
        <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Dashboard</a>
        <ul id="submenu1" class="list-unstyled collapse">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Last Run</a></li>
          <li><a href="#">Summary</a></li>
        </ul>
      </li>
      <li>
        <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Dashboard</a>
        <ul id="submenu2" class="list-unstyled collapse">
          <li><a href="#">Item1</a></li>
          <li><a href="#">Last Run</a></li>
          <li><a href="#">Summary</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-fw fa-angle-right"></i>Manage Events</a></li>
      <li><a href="#"><i class="fa fa-fw fa-link"></i>Profile</a></li>
    </ul>
  </div>
