<fieldset class="container-fluid">

  <br>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">

        <a href="#">Create Event</a>
      </li>
    </ol>

    <form class="col-12">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input type="text" class="form-control" id="eventName" aria-describedby="emailHelp" placeholder= "Enter the event name" required>
      </div>
      <div class="form-group"  action="/submit-event"  method="POST">
        <label for="eventDescription">Event Description</label>
        <input type="text" class="form-control" id="eventDescription" placeholder= "Enter the event description" required>
      </div>
      <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input type="text" class="form-control" id="eventLocation"
               placeholder="Enter the event location" required>
      </div>
      <div class="form-group">
        <label for="eventDate">Event Date</label>
        <input type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" id="eventDate" value="Enter the event Date" required>
      </div>
      <div class="form-group">
        <label for="eventStartTime">Event Start Time</label>
        <input type="time" class="form-control" id="eventStartTime"
               placeholder="Enter Event Start Time" required>
      </div>
      <div class="form-group">
        <label for="eventEndTime">Event End Time</label>
        <input type="time" class="form-control" id="eventEndTime"
               placeholder="Enter Event End Time" required>
      </div>
      <div class="form-group">
        <label for="eventImage">Event Image</label>
        <input type="file" class="form-control" id="eventImage"
               accept="image/*" placeholder="Drag Event Image" required>
      </div>
      <div class="form-group">
        <label for="eventImage">Event Track (Upload a .gpx file)</label>
        <input type="file" class="form-control" id="eventGpx"
               accept=".gpx" placeholder="Drag Event Image" required>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>


  <br>
  <br>
</fieldset>
