<div class="settings-page col-lg-12 w-100">

  <br>
  <!-- Breadcrumbs-->
  <h3 align="center">Create Event</h3>

  <form class="form-group" [formGroup]="createEventForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <div class="container">

        <div class="col-md-12">
          <fieldset class="form-group">
            <label for="name">Event Name</label>
            <input formControlName="name" type="text" class="form-control" id="name"
                   placeholder="Enter the event name" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="description">Event Description</label>
            <input formControlName="description" type="text" class="form-control" id="description"
                   placeholder="Enter the event description" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="location">Event Location</label>
            <input formControlName="location" type="text" class="form-control" id="location"
                   placeholder="Enter the event location" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="eventDate">Event Date</label>
            <input formControlName="eventDate" type="date" class="form-control" id="eventDate" value="Enter the event Date"
                   required>
          </fieldset>
          <fieldset class="form-group">
            <label for="startTime">Event Start Time</label>
            <input formControlName="startTime" type="time" class="form-control" id="startTime"
                   placeholder="Enter Event Start Time" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="endTime">Event End Time</label>
            <input formControlName="endTime" type="time" class="form-control" id="endTime"
                   placeholder="Enter Event End Time" required>
          </fieldset>
          <!--<fieldset class="form-group">-->
          <!--<label for="image">Event Image</label>-->
          <!--<input formControlName="event_img" type="file" class="form-control" id="image"-->
          <!--accept="image/*" #EventImg>-->
          <!--</fieldset>-->
          <!--<fieldset class="form-group">-->
            <!--<label for="fileTrack">Event Track (Upload a .gpx file)</label>-->
            <!--<input formControlName="event_track" type="file" class="form-control" id="fileTrack"-->
                   <!--accept=".gpx" #EventTrc required>-->
          <!--</fieldset>-->

          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </fieldset>
  </form>
  <pre>{{createEventForm.value | json}}</pre>
  <br>
  <br>
</div>
<br>
<br><br>
